<h1> <%= @task.title  %> </h1>

<h2 style="width:250px;height:50px;background-color:lightyellow; color:red">
  <%= @task.details %>
</h2>

<h2>Add a task</h2>

<%= form_with model: @restaurant do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :Title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.check_box :completed %>
  <%= f.label :completed, "Checked" %>
<% end %>
